<div class="content pad">
    <h2>Login page</h2> <br>

    <form action="" id="login">
        <div class="row">
            <label>
                Name:
                <input type="text" name="name"/>
            </label>
        </div>

        <div class="row">
            <label>
                Password:
                <input type="password" name="password"/>
            </label>
        </div>

        <div class="row">
            <input type="submit" name="submit" value="Login"/>
        </div>
    </form>
</div>