<div class="content pad">
    <form action="" id="add-post">
        <div class="row">
            <label>
                Title:
                <input type="text" name="title"/>
            </label>
        </div>

        <div class="row">
            <label>
                Content: <br>
                <textarea name="content" id="" cols="100" rows="5"></textarea>
            </label>
        </div>

        <div class="row">
            <label>
                Tags (,):
                <input type="text" name="tags"/>
            </label>
        </div>

        <div class="row">
            <input type="submit" name="submit" value="Submit"/>
        </div>
    </form>
</div>