<div>Not found posts</div>

<!--<div id="newspage">-->

    <!--<a href=# class="graybutton right rpad">[.Оставить мысль]</a>-->
    <!--<div class="clear"></div>-->

    <!--<div class="entry">-->
        <!--<div class="news_header">-->
            <!--<div class="left"><h2>.Gravity Falls</h2> <span class="header_add">(new post)</span></div>-->
            <!--<div class="right">[admin buttons :D]</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
        <!--<div class="entry_content">-->
            <!--<p>-->
                <!--Минимализм минимализму рознь. Здесь нужно без фанатизма) Все-таки некоторые моменты я бы по-ярче сделал или выделил другим способом. </br>-->
                <!--</br>-->
                <!--Сделай узкий сайт фиксированной ширины, а поня рисуй на определенном расстоянии слева. Расстояние зависит от ширины моника: если моник "узкий" (или девайсы), то рисовать не далеко (понь будет в углу). Если широкий, то на некотором расстоянии, но уже не в углу. Думаю, так должно хорошо смотреться.-->
                <!--</br>-->
                <!--</br>-->
                <!--Все мои рекомендации, только рекомендации, ты же знаешь</br>-->
            <!--<blockquote>OH SHI!</blockquote>-->
            <!--</p>-->

            <!--<div class="center"><a href=# class="graybutton">[Читать дальше]</a></div>-->

        <!--</div>-->
        <!--<div class="entry_footer mgbot">-->
            <!--<div class="left lpads">-->
                <!--Автор: <a href=#>Lenich</a>-->
            <!--</div>-->
            <!--<div class="right rpads">-->
                <!--<ul class="menu">-->
                    <!--<li class=" "><a href=#>Лайкнуть</a></li>-->
                    <!--<li class=" "><a href=#>Мыслей</a>(1)</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->

        <!--<div class="comments">-->
            <!--<div class="comment">-->
                <!--<div class="comment_header">-->
                    <!--<div class="left">Lenich  <span class="header_add">(new comment)</span></div>-->
                    <!--<div class="right">[admin buttons :D]</div>-->
                    <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="comment_content">-->
                    <!--<p>-->
                        <!--Все мои рекомендации, только рекомендации, ты же знаешь</br>-->
                        <!--Это просто безумие!-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="comment_footer"><a href=#>Ответить</a></div>-->
            <!--</div>-->

            <!--<div class="commentpad">-->
                <!--<div class="comment">-->
                    <!--<div class="comment_header">-->
                        <!--<div class="left">Lenich  <span class="header_add">(new comment)</span></div>-->
                        <!--<div class="right">[admin buttons :D]</div>-->
                        <!--<div class="clear"></div>-->
                    <!--</div>-->
                    <!--<div class="comment_content">-->
                        <!--<p>-->
                            <!--Все мои рекомендации, только рекомендации, ты же знаешь</br>-->
                            <!--Это просто безумие!-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="comment_footer"><a href=#>Ответить</a></div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="commentpad">-->
                <!--<div class="commentpad">-->
                    <!--<div class="comment">-->
                        <!--<div class="comment_header">-->
                            <!--<div class="left">Lenich  <span class="header_add">(new comment)</span></div>-->
                            <!--<div class="right">[admin buttons :D]</div>-->
                            <!--<div class="clear"></div>-->
                        <!--</div>-->
                        <!--<div class="comment_content">-->
                            <!--<p>-->
                                <!--Все мои рекомендации, только рекомендации, ты же знаешь</br>-->
                                <!--Это просто безумие!-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="comment_footer"><a href=#>Ответить</a></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="comment">-->
                <!--<div class="comment_header">-->
                    <!--<div class="left">Lenich  <span class="header_add">(new comment)</span></div>-->
                    <!--<div class="right">[admin buttons :D]</div>-->
                    <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="comment_content">-->
                    <!--<p>-->
                        <!--Все мои рекомендации, только рекомендации, ты же знаешь</br>-->
                        <!--Это просто безумие!-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="comment_footer"><a href=#>Ответить</a></div>-->
            <!--</div>-->
        <!--</div>-->


    <!--</div>-->


    <!--<div class="pages_link">-->
        <!--<div class="pages_link_trot">-->
            <!--<a href="" class="pages_link_new">&larr; Туда</a>-->
            <!--<a href="" class="pages_link_old">Сюда &rarr;</a>-->
        <!--</div>-->
        <!--<div class="pages_link_numbers ">-->

            <!--<a href="" class="pages_link_entry">&larr;</a>-->
            <!--<a href="" class="pages_link_entry">9</a>-->
            <!--<a href="" class="pages_link_entry">10</a>-->
            <!--<span class="pages_link_current">11</span>-->
            <!--<a href="" class="pages_link_entry">12</a>-->
            <!--<a href="" class="pages_link_entry">13</a>-->
            <!--<a href="" class="pages_link_entry">&rarr;</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</div-->