<!--<div class="main-menu">-->
    <!--<div class="main-logo">-->
        <!--<a href="/">-->
            <!--<img src="http://stasundr.name/images/logo2.png" alt=".blanco3"/>-->
        <!--</a>-->
    <!--</div>-->
    <!--<ul class="main-menu-list">-->
        <!--<li><a href="#blog">.blog</a></li> ::-->
        <!--<li><a href="#site">.site</a></li> ::-->
        <!--<li><a href="#interest">.interest</a></li>-->
    <!--</ul>-->
<!--</div>-->

<div id="header">
    <img src="img/logo_blanco3.png" class="left">
    <div id="mainmenu" class="right">

        <ul>
            <li><a href=#/feed/main>.блог</a></li>
            <li><a href=#interest>.интересно</a></li>
            <li><a href=#site>.инфа</a></li>
            <li><a href=#>.ссылки</a></li>
            <li><a href=#>.связь</a></li>
        </ul>
        |
        <ul class="menu">
            <li><a href=#>.профиль</a></li>
            <li><a href=#>.выход</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>