body {
    /*padding: 0;*/
    /*margin: 0;*/
    font-family: Tahoma, serif;
    font-size: 10pt;
}

.container.root {
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    margin-top: 15px;
}

a:link  {
    color: #578258;
    text-decoration: none;
}
a:visited  {
    color: #578258;
    text-decoration: none;
}
a:hover {
    color: #8BAD8F;
    text-decoration: underline;
}

.main-menu {
    border-bottom: 1px solid #CCCCCC;
    vertical-align: bottom;
}

.main-menu .main-logo {
    display: inline-block;
    width: 125px;
}

.main-menu .main-menu-list {
    width: 670px;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: right;
}

.main-menu .main-menu-list li {
    list-style: none;
    display: inline-block;
}

.footer {
    border-top: 1px solid #CCCCCC;
    text-align: center;
}

.app-content {
    min-height: 20px;
}

.post-wrap {
    border: 1px solid lightgray;
    margin: 2px 0 4px 0;
    padding: 5px 10px 10px 10px;
}

.post-wrap .title {
    padding: 0 0 0 2px;
    border-bottom: 1px dashed #e1e1e1;
    font-weight: bold;
    color: #578258;
}

.post-wrap .content {
    margin: 10px 0 10px 0;
}

.post-wrap .post-data {
    border-top: 1px dashed #e1e1e1;
    color: gray;
    padding: 2px 0 0 0;
    font-size: 9pt;
}